@inherits LayoutComponentBase

<div class="page">
    <CascadingValue Value="@_loadingSignal">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                <div>
                    @Body
                </div>
                <div>
                    <RemoteSessionHarness />
                </div>
            </article>

            <ToastHarness />
            <ModalHarness />
            <LoadingSignal @ref="_loadingSignal" />
        </main>
    </CascadingValue>

</div>

@code {
    private LoadingSignal? _loadingSignal;
}