.page {
    display: grid;
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/*.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}*/

.sidebar {
    background-image: linear-gradient(180deg, rgb(8 76 116) 0%, #091256 70%)
}


@media (max-width: 640.98px) {
    .page {
        grid-auto-rows: auto 1fr;
    }

}

@media (min-width: 641px) {
    .page {
        grid-template-columns: auto 1fr;
    }

    .sidebar {
        width: 250px;
        overflow-y: auto;
    }
}
