@using ScreenR.Shared.Dtos
@inject IUserHubConnection UserHub
@inject IJsInterop JsInterop

<h3>Dashboard</h3>

<div>
    <input @bind-value="_desktopId" class="form-control" />
    <button class="btn btn-primary" @onclick="Test">Start Test</button>

</div>
<div style="width: 1280px; height: 720px;">
    <RemoteDesktop @ref="_desktop" />

</div>

@code {
    private readonly Guid _desktopInstance = Guid.NewGuid();
    private RemoteDesktop? _desktop;
    private string? _desktopId;

    public async Task Test()
    {
        if (!Guid.TryParse(_desktopId, out var sessionResult))
        {
            await JsInterop.Alert("Desktop ID must be a valid GUID.");
            return;
        }

        if (_desktop is null)
        {
            return;
        }

        await _desktop.GetStream(sessionResult);
    }
}
