<div class="text-center mt-5" style="margin-bottom:150px">
    <h1>
        ScreenR
    </h1>
    <div class="lead">
        Desktop streaming through SignalR
    </div>
    <div class="mt-5">
        <div>
            <a href="/Identity/Account/Login" class="btn btn-primary btn-lg">
                Login
            </a>
        </div>
        
        <div class="mt-3">
            <a href="/Identity/Account/Register" class="btn btn-secondary btn-lg">
                Register
            </a>
        </div>
    </div>
</div>

@code {

}
