@inject IAnonymousApiClient ApiClient

<div class="text-center mt-5" style="margin-bottom:150px">
    <h1>
        ScreenR
    </h1>
    <div class="lead">
        Remote control through SignalR
    </div>

    @if (!_anyUsersInDb)
    {
        <div class="mt-5">
            <div>
                <a href="/Identity/Account/Login" class="btn btn-primary btn-lg">
                    Login
                </a>
            </div>
        </div>
    }
    else
    {
        <h5 class="mt-5 text-info">
            Create the first admin account
        </h5>
        <div class="mt-2">
            <a href="/Identity/Account/Register" class="btn btn-primary btn-lg">
                Create
            </a>
        </div>
    }

</div>

@code {
    private bool _anyUsersInDb = true;

    protected override async Task OnInitializedAsync()
    {
        var result = await ApiClient.CheckIfExistingUsers();
        if (result.IsSuccess)
        {
            _anyUsersInDb = result.Value;
        }
        await base.OnInitializedAsync();
    }
}
