@using System.Timers
@inject IJsInterop JsInterop

<div class="dropdown @DropDownClass" @onmouseout="MouseLeft" @onmouseover="MouseEnter">
    <button class="btn dropdown-toggle @ButtonClass @_showClass"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="@_isExpanded"
            @onclick="ToggleShown">
        @ButtonContent
    </button>
    <ul class="dropdown-menu @DropDownMenuClass @_showClass" @onclick="ToggleShown" >
       @ListItems
    </ul>
</div>

@code {
    private System.Timers.Timer? _collapseTimer;
    private string _showClass = "";
    private bool _isExpanded;

    [Parameter]
    public string ButtonClass { get; set; } = "";

    [Parameter]
    public RenderFragment? ButtonContent { get; set; }

    [Parameter]
    public string DropDownClass { get; set; } = "";

    [Parameter]
    public string DropDownMenuClass { get; set; } = "";

    [Parameter]
    public RenderFragment? ListItems { get; set; }

    private void ToggleShown()
    {
        _isExpanded = !_isExpanded;
        _showClass = _isExpanded ? "show" : "";
    }

    private void MouseEnter()
    {
        if (_collapseTimer is not null)
        {
            _collapseTimer.Elapsed -= CollapseTimer_Elapsed;
            _collapseTimer.Dispose();
        }
    }

    private void MouseLeft()
    {
        if (_collapseTimer is not null)
        {
            _collapseTimer.Elapsed -= CollapseTimer_Elapsed;
            _collapseTimer.Dispose();
        }
        _collapseTimer = new System.Timers.Timer(1000);
        _collapseTimer.Elapsed += CollapseTimer_Elapsed;
        _collapseTimer.Start();
    }

    private async void CollapseTimer_Elapsed(object? sender, ElapsedEventArgs args)
    {
            _isExpanded = false;
            _showClass = "";
            await InvokeAsync(StateHasChanged);
    }
}
